# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Django
# ==========================
db.sqlite3
db.sqlite3-journal
#media/
staticfiles/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Build
# ==========================
build/
dist/
*.egg-info/
.eggs/

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/
.tox/

# ==========================
# Type Checkers
# ==========================
.mypy_cache/
.pyre/
.ruff_cache/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# PyTorch Cache
# ==========================
torch_cache/